@import "../../variables";

.home-header {
    margin-top: 40px;
}

.home-section {
    height: auto;
    min-height: calc(100vh - 71px);
    padding-bottom: 58px;
    overflow: auto;
}

.heading {
    margin-bottom: 30px;
}

.heading-name strong {
    color: $medium-blue;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.description {
    p {
        line-height: 30pt;
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (min-width: 767px) {
    .home-header {
        margin-top: 100px;
    }
}